# {{ ansible_managed }}

[[inputs.procstat]]
  exe = "telegraf"

[[inputs.procstat]]
  exe = "Plex"

[[inputs.procstat]]
  exe = "code"

[[inputs.procstat]]
  exe = "java"

[[inputs.procstat]]
  exe = "firefox"
