#!/usr/bin/env bash

export PACKT4FREE_SMTP_SERVER="{{ lookup('ini', 'packt4free.smtp.server type=properties file=packt4free.properties') }}"
export PACKT4FREE_SMTP_PORT="{{ lookup('ini', 'packt4free.smtp.port type=properties file=packt4free.properties') }}"
export PACKT4FREE_SMTP_USERNAME="{{ lookup('ini', 'packt4free.smtp.username type=properties file=packt4free.properties') }}"
export PACKT4FREE_SMTP_PASSWORD="{{ lookup('ini', 'packt4free.smtp.password type=properties file=packt4free.properties') }}"
export PACKT4FREE_FROM="{{ lookup('ini', 'packt4free.from type=properties file=packt4free.properties') }}"
export PACKT4FREE_TO="{{ lookup('ini', 'packt4free.to type=properties file=packt4free.properties') }}"

{{ packt4free.install_directory }}/packt4free/bin/packt4free
